@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

body{
  font-family: "Kumbh Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

.container{
  margin: 0 auto;
  max-width: 1000px;
}

main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
}

